.hero {
    display: flex;
    align-content: center;

    & .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-wrap: balance;

        & h1 {
            font-size: 8.8rem;
        }

        & p {
            font-size: 2.4rem;
            line-height: 4rem;
            text-wrap: balance;
        }

        & button {
            background-color: #000;
            color: #FFF;
            border: 1px solid #000;
            border-radius: .6rem;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 1.6rem 2rem;
            cursor: pointer;
            transition: all .3s ease;
        }

        & button:hover {
            background-color: #FFF;
            color: #000;
            border: 1px solid #000;

        }

        &>* {
            margin-bottom: 3rem;
        }

        & :last-child {
            margin-bottom: 0;
        }
    }

    & .img {
        flex: 1;

        & img {
            width: 100%;
        }
    }
}

@media(max-width: 1440px) {
    .hero {
        height: 60rem;

        & .content {

            & h1 {
                font-size: 6.8rem;
            }

            & p {
                font-size: 2rem;
                line-height: 3rem;
                text-wrap: balance;
            }
        }

    }
}

@media(max-width: 1120px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .content {
            text-wrap: wrap;
            text-align: center;
        }


        & .img {
            display: none;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            & img {
                max-width: 50rem;
            }


        }

    }
}

@media(max-width: 890px) {
    .hero {

        & .content {

            & h1 {
                font-size: 4.8rem;
            }

            & p {
                font-size: 1.8rem;
                line-height: 3rem;
                text-wrap: balance;
            }
        }
    }
}

@media(max-width: 630px) {
    .hero {

        & .content {

            & h1 {
                font-size: 2.8rem;
            }

            & p {
                font-size: 1.6rem;
                line-height: 3rem;
                text-wrap: balance;
            }
        }
    }
}