.hero {
    display: flex;
    align-content: center;

    & .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-wrap: balance;

        & h1 {
            font-size: 8.8rem;
        }

        & p {
            font-size: 2.4rem;
            line-height: 4rem;
            text-wrap: balance;
        }

        & button {
            background-color: #000;
            color: #FFF;
            border: 1px solid #000;
            border-radius: .6rem;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 1.6rem 2rem;
            cursor: pointer;
            transition: all .3s e;
        }

        & button:hover {
            background-color: #FFF;
            color: #000;
            border: 1px solid #000;

        }

        &>* {
            margin-bottom: 3rem;
        }

        & :last-child {
            margin-bottom: 0;
        }
    }

    & .img {
        flex: 1;

        & img {
            width: 100%;
        }
    }
}