.header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4rem 0;

    & a {
        color: black;
        text-decoration: none;

    }

    & .logo-container {
        margin-right: auto;

        & a {
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            align-items: center;


            & :first-child {
                font-size: 3.6rem;
            }

            & :last-child {
                margin-left: 1rem;
            }
        }
    }

    & nav {

        & li {
            display: inline-block;
            margin-right: 3rem;
            font-size: 1.6rem;
            font-weight: 500;
            position: relative;
        }

        & li::before {
            content: "";
            height: 1px;
            width: 0%;
            position: absolute;
            background-color: #000;
            bottom: -.5rem;
            transition: all .3s ease;
        }

        & li:hover::before {
            width: 100%;
        }
    }

    & .cta-container {
        & button {
            background-color: #FFF;
            border: 1px solid #000;
            border-radius: .6rem;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 1.6rem 2rem;
            cursor: pointer;
            transition: all .3s ease;
        }

        & button:hover {
            background-color: #000;
            color: #FFF;
        }
    }
}