.services {

    & .services__header {
        display: flex;
        align-items: start;
        width: 100rem;
        margin-bottom: 10rem;

        & h2 {
            font-size: 3.8rem;
            font-weight: 500;
            background-color: #ff725e;
            padding: .4rem;
            margin-right: 3rem;
        }

        & p {
            text-wrap: balance;
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-weight: 500;
        }
    }

    & .services__cards {
        display: grid;
        grid-template-columns: auto auto;
        gap: 4rem;
    }
}