.service-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 4rem;
    padding: 5rem;
    box-shadow: 0 1rem 0 #000;

    & .service-card__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h3 {
            font-size: 2.6rem;
            font-weight: 500;
            text-wrap: balance;
            line-height: 4rem;
            width: 20rem;

            & span {
                display: inline-block;
                background-color: #ff725e;
                padding: .2rem;
                border-radius: .6rem;
            }
        }

        & a {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            text-decoration: none;
            font-weight: 500;
            width: fit-content;

            & .service-card__header__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                height: 4rem;
                width: 4rem;
                border-radius: 100%;
                margin-right: 2rem;
            }

        }
    }

    & .service-card__img {


        & img {
            width: 29rem;
        }
    }
}


.service-card--light {
    background-color: #FFF;

    & .service-card__header {

        & h3 {
            & span {
                background-color: #ff725e;
            }
        }
    }

    & a {
        color: #000;
        transition: all .3s ease;

        & .service-card__header__icon {
            color: #ff725e;
            background-color: #000;
            transition: all .6s ease;
        }
    }

    & a:hover {

        color: #ff725e;
        font-size: 1.8rem;

        & .service-card__header__icon {
            font-size: 3.8rem;
            transform: rotateZ(410deg);
        }
    }
}

.service-card--dark {
    background-color: #000;

    & .service-card__header {

        & h3 {
            & span {
                background-color: #FFF;
                color: #000;
            }
        }
    }

    & a {
        color: #FFF;
        transition: all .3s ease;

        & .service-card__header__icon {
            color: #000;
            background-color: #FFF;
            transition: all .6s ease;
        }
    }

    & a:hover {

        color: #ff725e;
        font-size: 1.8rem;

        & .service-card__header__icon {
            font-size: 3.8rem;
            transform: rotateZ(410deg);
        }
    }
}

@media(max-width: 1440px) {
    .service-card {
        & .service-card__header {
            & h3 {
                font-size: 2.2rem;
                width: 18rem;

            }

            & a {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                text-decoration: none;
                font-weight: 500;
                width: fit-content;

                & .service-card__header__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3rem;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 100%;
                    margin-right: 2rem;
                }

            }
        }

        & .service-card__img {


            & img {
                width: 18rem;
            }
        }
    }
}