.case-study {
    & .case-study__header {
        display: flex;
        align-items: start;
        max-width: 100rem;
        margin-bottom: 10rem;

        & h2 {
            font-size: 3.8rem;
            font-weight: 500;
            background-color: #ff725e;
            padding: .4rem;
            margin-right: 3rem;
            text-wrap: nowrap;
        }

        & p {
            text-wrap: balance;
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-weight: 500;
        }
    }

    & .case-study__content {
        background-color: #000;
        border-radius: 4rem;
        padding: 8rem 6rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;


        & .case-study__content__item {
            font-size: 1.6rem;
            line-height: 2.8rem;

            & a {
                color: #ff725e;
                text-decoration: none;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                width: fit-content;
                position: relative;



                & .case-study__content__icon {
                    font-size: 3rem;
                    margin-left: 1rem;
                    transition: all .6s ease;
                }
            }

            & a:hover {
                color: #FFF;

                & .case-study__content__icon {
                    transform: rotateZ(-135deg);
                }
            }

            & a::before {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -.5rem;
                background-color: #FFF;
                transition: all .4s ease;
                transform-origin: right;
                transform: scaleX(0);
            }

            & a:hover:before {
                transform: scaleX(1);
            }

            & p {
                text-wrap: balance;
                margin-bottom: 2rem;
            }
        }

        &>* {
            border-right: 1px solid #fff;
            margin-left: 6rem;
        }

        & :first-child {
            margin-left: 0;
        }

        & :last-child {
            border-right: none;
        }
    }
}

@media(max-width: 1290px) {
    .case-study {
        & .case-study__content {
            flex-direction: column;

            &>* {
                border-bottom: 1px solid #fff;
                border-right: none;
                margin-left: 0rem;
                margin-bottom: 6rem;
            }


            & :last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 890px) {
    .case-study {

        & .case-study__header {
            flex-direction: column;
            align-items: start;
            margin-bottom: 5rem;

            & p {
                text-wrap: wrap;
                margin-top: 2rem;
                font-size: 1.8rem;
                line-height: 2.6rem;
                font-weight: 500;
            }
        }

    }
}

@media(max-width: 640px) {
    .case-study {

        & .case-study__header {
            align-items: center;
            text-align: center;

            & p {
                text-wrap: wrap;
            }
        }
    }
}